/* Overview Section */

.overview{
    padding: 100px 270px 100px 270px;
    width: 100vw;
    background-color: #2C3339;
    color: #fff;
    
    h2{
        text-align: center;
        font-size: 3.5rem;
        font-weight: 400;
    }

    hr{
        width: 300px;
        margin: 0 auto;
    }

    .overview-container{
        margin-top: 2rem;
        display: flex;
        width: 100%;

        .overview-p{
            width: 50%;
            margin-right: 2.5rem;
            p{
                border-left: 2px solid blue;
                width: 100%;
                padding-left: 2rem;
            }
        }

        .overview-img{
            width: 40%;
            transition: transform .2s;
            img{
                width: 100%;
                height: auto;
                transition: all .2s ease-out;
            }
            &:hover{
                transform: scale(1.09);
            }
        }
    }

    .overview-btns{
        width: 93%;
        display: flex;
        justify-content: flex-end;

        .fas{font-weight: 600; font-size: 1.8rem;}

        button{
            color: #fff;
            margin-top: 2rem;
            border: 1px solid blue;
            background-color: blue;
            padding: 10px 45px 10px 45px;
            outline: none;
            font-size: 1.6rem;
            cursor: pointer;
            border-radius: 3px;
            margin-right: 1rem;
            transition: all .2s;

            &:hover{
                background-color: #fff;
                color: blue;
                border-color: #fff;
            }
        }
    }
}

/* End of Overview Section */

/* Tech Used Section */

.tech-used{
    padding: 100px 270px 100px 270px;
    width: 100vw;
    background-color: #f6f6f6;

    h2{
        text-align: center;
        font-size: 3.5rem;
        font-weight: 400;
    }

    hr{
        width: 300px;
        margin: 0 auto;
    }

    .tech-used-container{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        width: 100%;

        .tech-used-ul{
            width: 50%;
            margin-left: 2.5rem;
            
            ul{
                border-left: 3px solid blue;
                width: 100%;
                padding-left: 2rem;

                li{margin-left: .8rem;}
            }
        }

        .tech-used-img{
            width: 40%;
            transition: transform .2s;
            img{
                width: 100%;
                height: auto;
                transition: all .2s ease-out;
            }
            &:hover{
                transform: scale(1.09);
            }
        }
    }

    .tech-used-btn{
        // background-color: rgba(255, 0, 0, 0.212);
        text-align: center;
        margin-top: 1.5rem;

        button{
            outline: none;
            border: none;
            background-color: transparent;
            cursor: pointer;
            font-size: 2rem;
            transition: transform .2s;

            &:hover{
                transform: translateX(-7px);
            }
        }
    }
}

/* End of Tech Used Section */