/* Overview Section */

.overview{
    padding: 100px 270px 100px 270px;
    width: 100vw;
    background-color: #2C3339;
    color: #fff;
    
    h2{
        text-align: center;
        font-size: 3.5rem;
        font-weight: 400;
    }

    hr{
        width: 300px;
        margin: 0 auto;
    }

    .overview-container{
        margin-top: 2rem;
        display: flex;
        width: 100%;

        .overview-p{
            width: 50%;
            margin-right: 2.5rem;
            p{
                border-left: 2px solid blue;
                width: 100%;
                padding-left: 2rem;
            }
        }

        .overview-img{
            width: 40%;
            transition: transform .2s;
            img{
                width: 100%;
                height: auto;
                transition: all .2s ease-out;
            }
            &:hover{
                transform: scale(1.09);
            }
        }

        @media screen and (max-width: 750px){
            flex-direction: column;
            text-align: center;
            justify-content: center;

            .overview-p{
                width: 90%;
                margin: 0 auto;

                p{border: none;}
            }

            .overview-img{
                width: 90%;
                margin: 0 auto;
                margin-top: 2rem;
            }
        }
    }

    .overview-btns{
        width: 93%;
        display: flex;
        justify-content: flex-end;

        .fas{font-weight: 600; font-size: 1.8rem;}

        button{
            color: #fff;
            margin-top: 2rem;
            border: 1px solid blue;
            background-color: blue;
            padding: 10px 45px 10px 45px;
            outline: none;
            font-size: 1.6rem;
            cursor: pointer;
            border-radius: 3px;
            margin-right: 1rem;
            transition: all .2s;

            &:hover{
                background-color: #fff;
                color: blue;
                border-color: #fff;
            }
        }

        @media screen and (max-width: 500px){
            width: 100%;
            justify-content: center;

            button{
                padding: 10px 25px 10px 25px;
            }
        }

        @media screen and (max-width: 400px){
            button{
                padding: 10px;
            }
        }
    }

    @media screen and (max-width: 1280px){
        padding: 100px 80px 100px 80px;
    }

    @media screen and (max-width: 850px){
        padding: 100px 20px 100px 20px;
    }
}

/* End of Overview Section */

/* Tech Used Section */

.tech-used{
    padding: 100px 270px 100px 270px;
    width: 100vw;
    background-color: #f6f6f6;

    h2{
        text-align: center;
        font-size: 3.5rem;
        font-weight: 400;
    }

    hr{
        width: 300px;
        margin: 0 auto;
    }

    .tech-used-container{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        width: 100%;

        .tech-used-ul{
            width: 50%;
            margin-left: 2.5rem;
            
            ul{
                border-left: 3px solid blue;
                width: 100%;
                padding-left: 2rem;

                li{margin-left: .8rem;}
            }
        }

        .tech-used-img{
            width: 40%;
            transition: transform .2s;
            img{
                width: 100%;
                height: auto;
                transition: all .2s ease-out;
            }
            &:hover{
                transform: scale(1.09);
            }
        }

        @media screen and (max-width: 750px){
            flex-direction: column;

            .tech-used-ul{
                width: 85%;

                ul{
                    border: none;
                    
                    li{
                        background-color: rgb(92, 55, 255);
                        margin-top: 1rem;
                        border-radius: 10px;
                        text-align: center;
                        list-style: none;
                        color: #fff;
                    }
                }
            }

            .tech-used-img{
                width: 90%;
                margin: 0 auto;
                margin-top: 2rem;
            }
        }
    }

    .tech-used-btn{
        text-align: center;
        margin-top: 1.5rem;

        button{
            outline: none;
            border: none;
            background-color: transparent;
            cursor: pointer;
            font-size: 2rem;
            transition: transform .2s;

            &:hover{
                transform: translateX(-7px);
            }
        }
    }

    @media screen and (max-width: 1280px){
        padding: 100px 80px 100px 80px;
    }

    @media screen and (max-width: 850px){
        padding: 100px 20px 100px 20px;
    }
}

/* End of Tech Used Section */