/* HEADER SECTION */
header{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../../assets/HeroImage.jpg);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .heroimage-text-container{
        // height: 220px;
        width: 70vw;
        height: auto;
        // background-color: red;
        // width: 1050px;
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.08rem;
        color: #fff;
        
        span{
            // width: 50vw;
            // height: auto;
            width: 50%;
            height: auto;

            h1{font-size: 2.2em;}

            h1,
            h2{
                text-transform: uppercase;
                line-height: 1.5;
            }
        }

        span:last-of-type{
            background-color: rgba(0, 0, 0, .5);
            border-radius: 10px;
            text-align: center;
            line-height: 1.6;
            word-spacing: .5px;
            padding: 4rem 1rem 4rem 1rem;

            button{
                margin-top: 30px;
                font-size: .9em;
                cursor: pointer;
                color: #5bc0de;
                width: 80%;
                height: 40px;
                border: 2px solid #5bc0de;
                border-radius: 5px;
                outline: none;
                background-color: transparent;
                transition: all .2s;

                &:hover{
                    color: #fff;
                    background-color: #5bc0de;
                }
            }
        }

        .fa-chevron-down{
            width: 0;
            font-size: 4rem;
            position: absolute;
            top: 100%;
            left: 48%;
            cursor: pointer;
        }
        
        @media screen and (max-width: 870px){
            span{
                width: 100%;
                text-align: center;
            }
            span:last-of-type{display: none;}
        }
    }
}

/* End of header section */

/* Main section */
.main-container{
    display: block;
}

/* About me section */

.about-me{
    padding: 100px 270px 100px 270px;
    background-color: #f6f6f6;
    width: 100vw;
    display: flex;

    .about-me-container{
        width: 50%;
        
        h2{font-weight: 400; font-size: 3.5rem;}

        hr{
            width: 50%;
            border: none;
            margin: .8rem 0 1rem 0;
            border-bottom: 1px solid rgba(0, 0, 0, .1);
        }

        p{
            margin-bottom: .8rem;
            font-size: 1.8rem;

            &:first-of-type{
                font-size: 2rem;
                font-weight: 600;
            }
        }

        button{
            border: 2px solid blue;
            outline: none;
            width: 50%;
            color: #fff;
            background-color: blue;
            cursor: pointer;
            height: 40px;
            border-radius: .5rem;
            font-size: 1.5rem;
        }
    }

    .about-me-image{
        width: 50%;
        
        img{
            width: 100%;
            border: 4px solid blue;
            border-radius: 10px;
        }
    }

    @media screen and (max-width: 1025px){
        padding: 100px 150px 100px 100px;
    }

    @media screen and (max-width: 750px){
        padding: 100px 100px 100px 100px;
        flex-direction: column;
        text-align: center;

        .about-me-container,
        .about-me-image{
            width: 100%;

            img{border: none}
        }
    }
}

/* End of about me section */