/* HEADER SECTION */
header{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../../assets/HeroImage.jpg);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .heroimage-text-container{
        // height: 220px;
        width: 70vw;
        height: auto;
        // background-color: red;
        // width: 1050px;
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.08rem;
        color: #fff;
        
        span{
            // width: 50vw;
            // height: auto;
            width: 50%;
            height: auto;

            h1{font-size: 2.2em;}

            h1,
            h2{
                text-transform: uppercase;
                line-height: 1.5;
            }
        }

        span:last-of-type{
            background-color: rgba(0, 0, 0, .5);
            border-radius: 10px;
            text-align: center;
            line-height: 1.6;
            word-spacing: .5px;
            padding: 4rem 1rem 4rem 1rem;

            button{
                margin-top: 30px;
                font-size: .9em;
                cursor: pointer;
                color: #5bc0de;
                width: 80%;
                height: 40px;
                border: 2px solid #5bc0de;
                border-radius: 5px;
                outline: none;
                background-color: transparent;
                transition: all .2s;

                &:hover{
                    color: #fff;
                    background-color: #5bc0de;
                }
            }
        }

        .fa-chevron-down{
            width: 0;
            font-size: 4rem;
            position: absolute;
            top: 100%;
            left: 48%;
            cursor: pointer;
        }
        
        @media screen and (max-width: 870px){
            span{
                width: 100%;
                text-align: center;
            }
            span:last-of-type{display: none;}
        }
    }
}

/* End of header section */

/* Main section */
.main-container{
    display: block;
}

/* About me section */

.about-me{
    padding: 100px 270px 100px 270px;
    background-color: #f6f6f6;
    width: 100vw;
    display: flex;

    .about-me-container{
        width: 50%;
        
        h2{font-weight: 400; font-size: 3.5rem;}

        hr{
            width: 50%;
            border: none;
            margin: .8rem 0 1rem 0;
            border-bottom: 1px solid rgba(0, 0, 0, .1);
        }

        p{
            margin-bottom: .8rem;
            font-size: 1.8rem;

            &:first-of-type{
                font-size: 2rem;
                font-weight: 600;
            }
        }

        button{
            border: 2px solid blue;
            outline: none;
            width: 50%;
            color: #fff;
            background-color: blue;
            cursor: pointer;
            height: 40px;
            border-radius: .5rem;
            font-size: 1.5rem;
        }
    }

    .about-me-image{
        width: 50%;
        
        img{
            width: 100%;
            border: 4px solid blue;
            border-radius: 10px;
        }
    }

    @media screen and (max-width: 1025px){
        padding: 100px 150px 100px 100px;
    }

    @media screen and (max-width: 750px){
        padding: 100px 100px 100px 100px;
        flex-direction: column;
        text-align: center;

        .about-me-container,
        .about-me-image{
            width: 100%;

            img{border: none}
        }
    }
}

/* End of about me section */

/* Projects section */

.projects{
    width: 100vw;

    .projects-container{
        padding: 100px 270px 100px 270px;
        font-size: 1.8rem;

        h2{font-weight: 400; font-size: 3.5rem;}

        hr{
            width: 30%;
            border: none;
            margin: .8rem 0 1rem 0;
            border-bottom: 1px solid rgba(0, 0, 0, .1);
        }

        p{margin-bottom: 3rem;}

        .cards{
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 750px){
                flex-direction: column;
            }
        }

        @media screen and (max-width: 1025px){
            padding: 100px 150px 100px 100px;
        }
    }
}

/* End of projects section */

/* Technological skills section */

.tech-skills{
    width: 100vw;
    background-color: #f6f6f6;
    text-align: center;

    .tech-skills-container{
        padding: 100px 270px 100px 270px;
        
        h2{font-weight: 400; font-size: 3.5rem;}

        hr{
            width: 30%;
            border: none;
            margin: .8rem 0 1rem 0;
            border-bottom: 1px solid rgba(0, 0, 0, .1);
            margin-left: 35%;
        }

        p{font-size: 1.7rem;}

        @media screen and (max-width: 1080px){
            padding: 100px;
        }
    }

    .skills-grid{
        margin-top: 2rem;
        display: grid;
        grid-column-gap: .2rem;
        grid-row-gap: 2rem;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
        "html html css css js js"
        "git git git github github github"
        "sass sass adobe adobe bootstrap bootstrap"
        "react react react redux redux redux"
        "problem-solver problem-solver problem-solver problem-solver problem-solver problem-solver";
        
        .html{grid-area: html;}
        .css{grid-area: css;}
        .js{grid-area: js;}
        .sass{grid-area: sass;}
        .bootstrap{grid-area: bootstrap;}
        .adobe{grid-area: adobe;}
        .react{grid-area: react;}
        .redux{grid-area: redux;}
        .git{grid-area: git;}
        .github{grid-area: github;}
        .problem-solver{grid-area: problem-solver;}
        
        p{
            background-color: rgba(0, 0, 255, 0.534);
            border: 1px solid blue;
            border-radius: .3rem;
            color: #fff;
            font-weight: 500;
            padding: .5em;
            transition: all .2s;

            &:hover{
                background-color: #fff;
                color: blue
            }
        }
    }
}

/* End of Technological skills section */

/* Why work with me section */

.why-me{
    width: 100vw;
    text-align: center;

    .why-me-container{
        padding: 100px 220px 100px 220px;
        
        h2{font-weight: 400; font-size: 3.5rem;}

        hr{
            width: 30%;
            border: none;
            margin: .8rem 0 1rem 0;
            border-bottom: 1px solid rgba(0, 0, 0, .1);
            margin-left: 35%;
        }

        p{font-size: 1.7rem;}

        .reasons{
            margin-top: 2rem;
            display: flex;
            width: 100%;

            .reason{
                width: 33.3%;
                height: auto;
                padding: 1.2rem;
                
                &:not(:last-of-type){
                    margin-right: 2rem;
                }

                @media screen and (max-width: 750px){
                    width: 100%;
                }
            }
            .fa{color: blue; margin-bottom: 2rem;}
            .fa-code{font-weight: 600;}
            p{font-size: 1.9rem;}
            h3{
                font-weight: 500;
                font-size: 2.5rem;
                line-height: 1;
                margin-bottom: 1.5rem;
            }

            @media screen and (max-width: 750px){
                flex-direction: column;
            }
        }

        @media screen and (max-width: 1160px){
            padding: 100px 80px 100px 80px;
        }

        @media screen and (max-width: 880px){
            padding: 100px 30px 100px 30px;
        }
    }
}

/* End of why work with me section */

/* Testimonials section */

.testimonials{
    width: 100vw;
    text-align: center;
    background-color: #f6f6f6;

    .testimonials-container{
        padding: 100px 220px 100px 220px;
        font-size: 1.8rem;

        h2{font-weight: 400; font-size: 3.5rem;}

        hr{
            width: 30%;
            border: none;
            margin: .8rem 0 1rem 0;
            border-bottom: 1px solid rgba(0, 0, 0, .1);
            margin-left: 35%;
        }

        .clients-container{
            width: 100%;
            display: flex;
            justify-content: space-between;

            .client-box{
                padding: 2rem;
                width: 45%;
                border-radius: 1.5%;

                p{
                    border-left: .8rem solid rgba(75, 75, 75, 0.473);
                    border-radius: 10%;
                    padding-left: 2rem;

                    span{
                        font-size: 1.2em;
                        display: inline-block;
                        margin-top: 1.2rem;
                    }
                }

                @media screen and (max-width: 820px){
                    width: 100%;
                }
            }

            @media screen and (max-width: 820px){
                flex-direction: column;
            }
        }

        @media screen and (max-width: 1180px){
            padding: 100px 50px 100px 50px;
        }

        @media screen and (max-width: 900px){
            padding: 100px 20px 100px 20px;
        }
    }
}

/* End of testimonials section */

/* Footer */

