.header-container{
    position: relative;
    padding: 0px 15px 0px 15px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .5);
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    position: fixed;
    width: 100vw;
    z-index: 999;

    img{
        cursor: pointer;
    }

    .fa-bars{display: none;}

    .nav-options{
        display: flex;
        align-items: center;
        width: 80vw;
        justify-content: flex-end;
        flex-wrap: wrap;

        a{
            text-decoration: none;

            li{
                font-size: 2rem;
                margin-right: 3rem;
                cursor: pointer;
                list-style: none;
                text-transform: uppercase;
                color: #fff;
                opacity: .8;
                border-bottom: 2px solid transparent;
                transition: all .2s;

                &:hover{
                    opacity: 1;
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }
       
    @media screen and(max-width: 700px){
        .nav-options{display: none;}
        .fa-bars{
            display: flex;
            align-items: center;
            margin-right: 50px;
            color: #fff;
            cursor: pointer;
        }   
    }
}